  <h1>Welcome <%=@username %> </h1>
  <h3>問題<%=@username %></h3>
    <form method="post" action="/new">
        <label name="quiz" value=""><%=@username %></label>
        <br>
        <input type="radio" name="quiz" value="1"><%=@username %><br>
        <input type="radio" name="quiz" value="2"><%=@username %><br>
        <input type="radio" name="quiz" value="3"><%=@username %><br>
        <input type="radio" name="quiz" value="4"><%=@username %><br>
	<input type="hidden" name="answer"><%=@username %><br>
        <input type= "submit" name="submit" value=" NEXT ">
	<input type= "submin" name="appear" value=" 答え ">
    </form>

